
<h2>Hockey</h2>
<p>game time: {{hockey.gameTimeMs}}</p>
<p>Number of players:{{hockey.numberOfPlayers}}</p>
<p>Number of breaks {{hockey.numberOfBreaks}}</p>
<p>Number on bench {{hockey.numberOnBench}}</p>
<p>Court: {{hockey.court}}</p>
<p>Srick Brand: {{hockey.stickBrand}}</p>


<h2>Soccer</h2>
<p>game time: {{soccer.gameTimeMs}}</p>
<p>Number of players:{{soccer.numberOfPlayers}}</p>
<p>Number of breaks {{soccer.numberOfBreaks}}</p>
<p>Number on bench {{soccer.numberOnBench}}</p>
<p>Court: {{soccer.court}}</p>
<p>ballpattern: {{soccer.ballpattern}}</p>


<h2>Netball</h2>
<p>game time: {{netball.gameTimeMs}}</p>
<p>Number of players:{{netball.numberOfPlayers}}</p>
<p>Number of breaks {{netball.numberOfBreaks}}</p>
<p>Number on bench {{netball.numberOnBench}}</p>
<p>Court: {{netball.court}}</p>
<p>Net hight: {{netball.NetHight}}</p>