

<div class="containerBlock" >
  <div class="container" >
    <app-header title="Sports" buttonState="false"></app-header>
    <app-sports></app-sports>
  </div>
  <div class="container" >
    <app-header title="Football Playouts" buttonState="true" text="play"></app-header>
  </div>
  <div class="container" >
      <app-header title="Scene tree" buttonState="false"></app-header>
      <div class="mat-app-background basic-container">
         <app-scene-tree title="Scene tree"></app-scene-tree >
      </div>
  </div>
 <div class="container" >
    <app-header title="Crypto" buttonState="false"></app-header>
    <app-crypto></app-crypto>
  </div>
  
</div>